package:
  name: schemahero-head
  version: ${GIT_TAG}
  epoch: 0
  description: schemahero package
  copyright:
    - license: Apache-2.0

environment:
  contents:
    repositories:
      - https://packages.wolfi.dev/os
    keyring:
      - https://packages.wolfi.dev/os/wolfi-signing.rsa.pub
    packages:
      - ca-certificates-bundle
      - busybox
      - go
  environment:
    GOMODCACHE: '/var/cache/melange'

pipeline:
  - runs: |
      set -x
      export DESTDIR="${{targets.destdir}}"
      mkdir -p "${DESTDIR}"

      export GIT_TAG=${{package.version}}

      make build-schemahero
      mv bin/kubectl-schemahero "${DESTDIR}/schemahero"
