name: "Build and test"
on:
  push:
    tags-ignore: ["*"] # tags run tagged-release workflow
    branches: ["*"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v1.1.2
        with:
          go-version: "1.14.3"
      - name: setup goenv
        run: |
          echo "::set-env name=GOPATH::$(go env GOPATH)"
          echo "::add-path::$(go env GOPATH)/bin"
        shell: bash
      - uses: actions/checkout@v2
      - run: make all
      - uses: actions/upload-artifact@v1
        with:
          name: schemahero
          path: bin/schemahero
      - uses: actions/upload-artifact@v1
        with:
          name: manager
          path: bin/manager
      - uses: actions/upload-artifact@v1
        with:
          name: kubectl-schemahero
          path: bin/kubectl-schemahero

  test-postgres:
    runs-on: ubuntu-latest
    needs: build
    strategy:
      matrix:
        postgres_version: [10.13, 11.8, 12.3]
    steps:
      - uses: actions/checkout@v2
      - name: Download schemahero binary
        uses: actions/download-artifact@v1
        with:
          name: schemahero
          path: bin/
      - run: chmod +x bin/schemahero
      - run: make -C integration/tests/postgres ${{matrix.postgres_version}}

  test-mysql:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v2
      - name: Download schemahero binary
        uses: actions/download-artifact@v1
        with:
          name: schemahero
          path: bin/
      - run: chmod +x bin/schemahero
      - run: make -C integration/tests/mysql run

  test-cockroach:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v2
      - name: Download schemahero binary
        uses: actions/download-artifact@v1
        with:
          name: schemahero
          path: bin/
      - run: chmod +x bin/schemahero
      - run: make -C integration/tests/cockroach run

  kots:
    runs-on: ubuntu-latest
    name: kots
    needs: [test-mysql, test-postgres]
    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Download kubectl-schemahero binary
        uses: actions/download-artifact@v1
        with:
          name: kubectl-schemahero
          path: bin/
      - run: chmod +x bin/kubectl-schemahero

      - uses: azure/docker-login@v1
        with:
          login-server: registry.replicated.com
          username: ${{ secrets.REPLICATED_API_TOKEN }}
          password: ${{ secrets.REPLICATED_API_TOKEN }}
      - run: make kotsimages

      - run: ./bin/kubectl-schemahero install --yaml --out-dir=./kots --enterprise --namespace="repl{{ Namespace }}" --enterprise-tag=alpha

      - name: Lint the release
        id: lint-action
        uses: replicatedhq/action-kots-lint@v0.2.0
        with:
          replicated-app: "schemahero-enterprise"
          replicated-api-token: ${{ secrets.REPLICATED_API_TOKEN }}
          yaml-dir: kots

      - name: Create the release
        id: test-action
        uses: replicatedhq/action-kots-release@v0.3.0
        with:
          replicated-app: "schemahero-enterprise"
          replicated-api-token: ${{ secrets.REPLICATED_API_TOKEN }}
          yaml-dir: kots
