name: Scan vulnerabilities

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  scan_schemahero_files_systems:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.1

      - name: Run Trivy vulnerability scanner in repo mode
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: 'fs'
          ignore-unfixed: true
          format: 'sarif'
          output: 'trivy-results.sarif'
          severity: 'HIGH,CRITICAL'

      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: 'trivy-results.sarif'

  scan_schemahero_docker_image:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'
          cache: true

      - name: Checkout
        uses: actions/checkout@v4.1.1

      - name: Build schemahero image
        uses: ./.github/actions/build-push-action
        with:
          context: deploy/schemahero
          image-name: ttl.sh/automated-${{ github.run_id }}/schemahero:${{ github.sha }}
          # tag regex required by apko: https://github.com/chainguard-dev/apko/blob/e1149d47d179f8dfeb4f095e207886b0f92e512d/pkg/apk/apk/version.go#L39
          git-tag: "${{ github.run_id }}"

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: 'ttl.sh/automated-${{ github.run_id }}/schemahero:${{ github.sha }}'
          format: 'sarif'
          output: 'trivy-results.sarif'
          ignore-unfixed: true
          severity: 'CRITICAL,HIGH'

      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: 'trivy-results.sarif'

  scan_schemahero_manager_docker_image:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'
          cache: true

      - name: Checkout
        uses: actions/checkout@v4.1.1

      - name: Build schemahero-manager image
        uses: ./.github/actions/build-push-action
        with:
          context: deploy/manager
          image-name: ttl.sh/automated-${{ github.run_id }}/schemahero-manager:${{ github.sha }}
          # tag regex required by apko: https://github.com/chainguard-dev/apko/blob/e1149d47d179f8dfeb4f095e207886b0f92e512d/pkg/apk/apk/version.go#L39
          git-tag: "${{ github.run_id }}"

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: 'ttl.sh/automated-${{ github.run_id }}/schemahero-manager:${{ github.sha }}'
          format: 'sarif'
          output: 'trivy-results.sarif'
          ignore-unfixed: true
          severity: 'CRITICAL,HIGH'

      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: 'trivy-results.sarif'
