name: "Tagged release"
on:
  push:
    tags: ["*"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v3.0.0
        with:
          go-version: "1.17.2"

      - id: go-cache-paths
        run: |
          echo "::set-output name=go-build::$(go env GOCACHE)"
          echo "::set-output name=go-mod::$(go env GOMODCACHE)"

      - uses: actions/checkout@v2

      - uses: actions/cache@v2
        with:
          path: ${{ steps.go-cache-paths.outputs.go-build }}
          key: ${{ runner.os }}-go-build-${{ hashFiles('**/go.sum') }}
      - uses: actions/cache@v2
        with:
          path: ${{ steps.go-cache-paths.outputs.go-mod }}
          key: ${{ runner.os }}-go-mod-${{ hashFiles('**/go.sum') }}

      - run: make fmt
      - run: go mod tidy
      - run: git diff
      - run: make vet manifests bin/kubectl-schemahero manager test
      - uses: actions/upload-artifact@v2.3.1
        with:
          name: manager
          path: bin/manager
      - uses: actions/upload-artifact@v2.3.1
        with:
          name: kubectl-schemahero
          path: bin/kubectl-schemahero

  test-postgres:
    runs-on: ubuntu-latest
    needs: build
    strategy:
      matrix:
        postgres_version: ["10.16", "11.11", "12.6", "13.2"]
    steps:
      - uses: actions/checkout@v2
      - name: Download kubectl-schemahero binary
        uses: actions/download-artifact@v2.1.0
        with:
          name: kubectl-schemahero
          path: bin/
      - run: chmod +x bin/kubectl-schemahero
      - run: make -C integration/tests/postgres ${{matrix.postgres_version}}

  test-mysql:
    runs-on: ubuntu-latest
    needs: build
    strategy:
      matrix:
        mysql_version: ["5.6.51", "5.7.33", "8.0.23"]
    steps:
      - uses: actions/checkout@v2
      - name: Download kubectl-schemahero binary
        uses: actions/download-artifact@v2.1.0
        with:
          name: kubectl-schemahero
          path: bin/
      - run: chmod +x bin/kubectl-schemahero
      - run: make -C integration/tests/mysql ${{matrix.mysql_version}}

  test-cockroach:
    runs-on: ubuntu-latest
    needs: build
    strategy:
      matrix:
        cockroachdb_version: ["v19.2.12", "v20.1.13", "v20.2.6", "v21.1.2"]
    steps:
      - uses: actions/checkout@v2
      - name: Download kubectl-schemahero binary
        uses: actions/download-artifact@v2.1.0
        with:
          name: kubectl-schemahero
          path: bin/
      - run: chmod +x bin/kubectl-schemahero
      - run: make -C integration/tests/cockroach ${{matrix.cockroachdb_version}}

  build-release:
    runs-on: ubuntu-latest
    needs:
      - test-postgres
      - test-mysql
      - test-cockroach
    steps:
      - uses: actions/setup-go@v3.0.0
        with:
          go-version: "1.17.2"

      - id: go-cache-paths
        run: |
          echo "::set-output name=go-build::$(go env GOCACHE)"
          echo "::set-output name=go-mod::$(go env GOMODCACHE)"

      - uses: actions/checkout@v2

      - uses: actions/cache@v2
        with:
          path: ${{ steps.go-cache-paths.outputs.go-build }}
          key: ${{ runner.os }}-go-build-${{ hashFiles('**/go.sum') }}
      - uses: actions/cache@v2
        with:
          path: ${{ steps.go-cache-paths.outputs.go-mod }}
          key: ${{ runner.os }}-go-mod-${{ hashFiles('**/go.sum') }}

      - uses: sigstore/cosign-installer@main

      - name: sbom
        run: make sbom

      - id: get_version
        uses: battila7/get-version-action@v2

      - id: get_prerelease_flag
        env:
          PRERELEASE: ${{ steps.get_version.outputs.prerelease }}
        run: |
          if [ -z $PRERELEASE ]; then
            echo "::set-output name=prerelease::false"
          else
            echo "::set-output name=prerelease::true"
          fi

      - uses: azure/docker-login@v1
        with:
          username: schemaherodeploy
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: get signing key
        run: |
            echo $COSIGN_KEY | base64 -d > ./cosign.key
        env:
          COSIGN_KEY : ${{secrets.COSIGN_KEY}}

      - name: release
        run: make release
        env:
          GITHUB_TAG: ${{ steps.get_version.outputs.version-without-v }}

      - name: create github release
        id: create-github-release
        uses: Hs1r1us/Release-AIO@v1.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          release_name: ${{ steps.get_version.outputs.version }}
          tag_name: ${{ github.ref }}
          asset_files: './release'
          prerelease: ${{ steps.get_prerelease_flag.outputs.prerelease }}

  krew:
    runs-on: ubuntu-latest
    needs:
      - build-release
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Create new schemahero version in krew-index
        uses: rajatjindal/krew-release-bot@v0.0.40
        with:
          krew_template_file: deploy/krew.yaml
